* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    background-image: url(./images/pic.jpg);
    background-size: cover;

    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.con {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 5rem;
}

.big-text {
    font-size: 3rem;
    line-height: 0;
    margin-bottom: 10px;
}

.track-text {
    font-size: 2rem;
    text-transform: capitalize;
}